# Folder
objects.x86_64-cc11-release/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Stocks
.kdev4/
CMakeCache.txt
CMakeFiles/
build/
cmake_install.cmake
compile_commands.json
/cmake-build-debug/
/cmake-build-debug-remote/
